/* some style */

.lists-board {
	width: 95%;
	table-layout: fixed;
	display: table;

}

.trello-list {
	display: table-cell;
	overflow: auto;
	width: 300px;
}

.trello-list > ul {
	list-style-type: none;
}

.trello-card {
	border: solid 1px #000;
	margin: 3px;
	padding: 3px;
}

.trello-card .button {
	float: right;
	text-decoration: none;
}

.error {
	color: #f00;
}

#fetcher input {
	margin: 3px;
	width: 100px;
}

.trello-card .comment-action {
	text-decoration: underline;
}

#comment .comment-view {
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0.98;
	position: absolute;
	top: 0px;
	padding-left: 400px;
	padding-top: 300px;
}
